<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('cover.jpg') %>)">
  <div class="container">
    <h1 class="p-500">Your Favourite WatchList</h1>
  </div>
</div>
<div class="container">
  <h1>My lists</h1>
  <div class="cards">
    <% @lists.each do |list|%>
    <div class="card-category h-120" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
      <div class="button"><%= link_to list.name, list_path(list), class: "nav-link" %></div>
    </div>
    <% end %>
  </div>
</div>
